@import "compass/css3";
@import "normalize";
@import "icons";

$pageWidth:700px;
$primaryColor:#444444;
$secondaryColor:#2967a4;
$altColor:#5bb75b;
$space:20px;

@mixin pos($top,$right,$bottom,$left){
    position:absolute;
    @if($top != ''){top:$top;}
    @if($right != ''){right:$right;}
    @if($bottom != ''){bottom:$bottom;}
    @if($left != ''){left:$left;}
}



// ------------------------------------------------------------------- ALL
*{@include box-sizing(border-box);}
html, body{height:100%;width:100%;}
body{
  color:$primaryColor;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:0px;
  padding:0px;
  background-image:url("../img/bg.png");
  overflow-x: hidden;
}
hr{
  clear:both;
  border:none;
  border-bottom:solid 1px lighten($primaryColor, 67%);
}
a{
  color: #2967a4;
  text-decoration: none;
}
ul{list-style:none;}
h1,h2,h3,h4,h5{
  margin:0px;
  text-rendering:optimizelegibility;
}
h1{font-size: 60px;}
h2{
  font-size: 20px;
  font-weight: normal;
}
h3{
  color:lighten($primaryColor, 20%);
  font-size: 25px;
}
h4{
  color:lighten($primaryColor, 30%);
  font-size: 14px;
  font-style: italic;
  font-weight:normal;
  line-height:2em;
}
h5{
  font-size: 18px;
  line-height: 2em;
}
p{
  font-size: 14px;
  margin-top:0px;
}
code{
  padding:2px 4px;
  color:$altColor;
  border:solid 1px darken(white, 16%);
  background-color:darken(white, 1%);
  @include border-radius(3px);
}



// ------------------------------------------------------------------- PAGE
.right{float:right;}
.left{float:left;}
.clear{clear:both;}
.page{
  max-width:$pageWidth;
  width: auto;
  margin:$space auto 0 auto;
  padding-left:$space/2;
  padding-right:$space/2;
  position: relative;
}
.head{
  height:60px;
  .button{margin-top:$space/2;}
}
.nav{margin-top:$space;}
.someText{
  margin-top:80px;
  text-align: center;
}
.or{
  font-size: 26px;
  margin:0 $space/2;
}
.content{
  padding-bottom:$space*2;

  [class^="icon-"],[class*=" icon-"]{
    color:$altColor;
    float:left;
    margin-right:10px;
  }
  p{
    clear:both;
    color:lighten($primaryColor, 20%);
  }
}
.foot{font-size:12px;}

// ------------------------------------------------------------- COMPONENTS
.buttonBar{
  margin:$space*2 0 $space*3 0;
  text-align: center;
}
.fatButton{
  width:120px;
  display: block;
  line-height:16px;
  cursor:pointer;
  color:white;
  font-size: 16px;
  display: inline-block;
  padding:12px 10px;
  @include transition(all 0.2s linear);
  @include border-radius(7px);
  .descr{font-size:12px;}
}
$bgcTour:#3072b3;
.tour{
  background-color:$bgcTour;
  border:solid 1px darken($bgcTour, 10%);

  &:hover{
    $bgcHover: darken($bgcTour, 10%);
    background-color:$bgcHover;
    border:solid 1px darken($bgcHover, 10%);
  }
}
.download{
  background-color:$altColor;
  border:solid 1px darken($altColor, 10%);

  &:hover{
    $bgcHover: darken($altColor, 10%);
    background-color:$bgcHover;
    border:solid 1px darken($bgcHover, 10%);
  }
}
.button{
  font-size: 14px;
  padding:5px 10px;
  margin-left:5px;
  background-color:lighten($primaryColor, 65%);
  border:1px solid lighten($primaryColor, 60%);
  @include border-radius(3px);
  @include transition(all 0.2s linear);

  &:hover{
    background-color:lighten($primaryColor, 60%);
    border:1px solid lighten($primaryColor, 55%);
  }
  &.active{
    color:white;
    background-color:$secondaryColor;
    border:1px solid darken($secondaryColor, 10%);
  }
}

// ------------------------------------------------------------- LANGUAGE EDITOR
$editorPrimaryColor:#e2e2e2;
.languanizrEditorPlaceholder{@include opacity(0);}
.shortKeysBox{
  font-size:12px;
  padding:10px 5px;
  height:150px;
}
.description{
  display: inline-block;
  margin:0 $space $space 5px;
  color:lighten($primaryColor, 30%);
}
.leftKeyBox, .middleKeyBox, .rightKeyBox{float:left;}
.leftKeyBox{width:230px;}
.middleKeyBox{width:240px;}
.rightKeyBox{width:200px;}

.version{
  font-size:12px;
  color:lighten($primaryColor, 30%);
  font-style:italic;
  @include pos(-50px,0,'','');
}
.idCol{
  width:40px;
  text-align: center !important;
  vertical-align: top;
  font-size: 12px;
  line-height:20px;
  color:darken($editorPrimaryColor, 20%);
}
.languanizrEditor{
  width:100%;
  margin-top:$space;
  margin-bottom:$space*2;

  td:focus, th:focus{
    outline:none;
    border:none;
    color:lighten(#2967a4, 25%);
  }

  td{
    padding:5px;
    vertical-align: top;
  }

  .editorHead{
    th{
      padding:0 5px 10px 5px;
      text-align: left;
    }
  }
  .dataCol{border-right:solid 1px $editorPrimaryColor !important;}

  .editorBody{
    border:{
      top:solid 1px $editorPrimaryColor;
      left:solid 1px $editorPrimaryColor;
    }
    font-size: 14px;
    color:darken($editorPrimaryColor, 40%);
    background-color:white;

    .idCol{border-right:solid 1px $editorPrimaryColor;}

    tr{
      border-bottom:solid 1px lighten($editorPrimaryColor,  3%);
      @include transition(all 0.2s linear);

      &:hover, &.selected{background-color:darken(white, 3%) !important;}
      &:nth-child(2n){background-color:darken(white, 1%);}
    }
  }
}
.jsonContainer{
  .description{
    margin-top:$space*2;
    display:block;
    text-align:center;
  }
  textarea{
    padding:$space/2;
    font-size: 14px;
    color:darken($editorPrimaryColor, 30%);
    height:120px;
    width:100%;
    border:solid 1px $editorPrimaryColor;
    margin-bottom:$space;
  }
}

// introjs
.introjs-helperLayer{padding:$space;}
.introjs-helperNumberLayer{line-height:12px !important;}